.main_paira {
    line-height: 1.9;
}


.whatsapp_float {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 24px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 45px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 14px;
    
  }
  

  .headings_new {
    font-family: 'Josefin Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 28px;
    /* line-height: 2em; */
    padding: 2px;
    color: black;
    margin-top: 1rem;
  }

  .points  {
    font-size: 15px;
  }

  
